In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv(r'Book1.csv')

In [3]:
movies

,ID,NAME,INDUSTRY,GENRE,LANGUAGE,DURATION,RATING
0,1,Bahubali,Tollywood,Action,Telugu,170,9.5
1,2,Bharmastra,Bollywood,Mystereous,Hindi,180,5.0
2,3,Uri - Surgical strike,Bollywood,Action,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,5,Avengers - Endgame,Hollywood,Action,English,180,9.0
5,6,Tenet,Hollywood,SciFi,English,150,8.5
6,7,Major,Bollywood,Action,Hindi,140,8.0
7,8,Interstellar,Hollywood,SciFi,English,190,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,English,180,9.0
10,11,Yeh Jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
11,12,Housefull,Bollywood,Comedy,Hindi,150,6.0
12,13,The dictator,Hollywood,Comedy,English,120,7.0
13,14,Hera Pheri,Bollywood,comedy,Hindi,140,9.0
14,15,Sholay,Bollywood,Drama,Hindi,150,8.5

1.Find the largest movie name?

In [4]:
movies['DURATION'].argmax()

7

In [5]:
movies.drop(['ID'],axis=1,inplace=True)

In [6]:
movies

                      NAME   INDUSTRY       GENRE LANGUAGE  DURATION  RATING
0                 Bahubali  Tollywood      Action   Telugu       170     9.5
1               Bharmastra  Bollywood  Mystereous    Hindi       180     5.0
2    Uri - Surgical strike  Bollywood      Action    Hindi       120    10.0
3                     DDLJ  Bollywood    Romantic    Hindi       150    10.0
4       Avengers - Endgame  Hollywood      Action  English       180     9.0
5                    Tenet  Hollywood       SciFi  English       150     8.5
6                    Major  Bollywood      Action    Hindi       140     8.0
7             Interstellar  Hollywood       SciFi  English       190     7.0
8                  Gravity  Hollywood       SciFi  English       130     6.0
9                  Titanic  Hollywood       Drama  English       180     9.0
10  Yeh Jawani Hai Deewani  Bollywood    Romantic    Hindi       150     5.0
11               Housefull  Bollywood      Comedy    Hindi       150     6.0
12            The dictator  Hollywood      Comedy  English       120     7.0
13              Hera Pheri  Bollywood      comedy    Hindi       140     9.0
14                  Sholay  Bollywood       Drama    Hindi       150     8.5

In [9]:
movies.drop(['NAME'],axis=1,inplace=True)

movies

In [10]:
movies.drop(['NAME'],axis=1,inplace=True)

KeyError: "['NAME'] not found in axis"

In [11]:
movies

     INDUSTRY       GENRE LANGUAGE  DURATION  RATING
0   Tollywood      Action   Telugu       170     9.5
1   Bollywood  Mystereous    Hindi       180     5.0
2   Bollywood      Action    Hindi       120    10.0
3   Bollywood    Romantic    Hindi       150    10.0
4   Hollywood      Action  English       180     9.0
5   Hollywood       SciFi  English       150     8.5
6   Bollywood      Action    Hindi       140     8.0
7   Hollywood       SciFi  English       190     7.0
8   Hollywood       SciFi  English       130     6.0
9   Hollywood       Drama  English       180     9.0
10  Bollywood    Romantic    Hindi       150     5.0
11  Bollywood      Comedy    Hindi       150     6.0
12  Hollywood      Comedy  English       120     7.0
13  Bollywood      comedy    Hindi       140     9.0
14  Bollywood       Drama    Hindi       150     8.5

In [13]:
movies = pd.read_csv(r'Book1.csv',index_csv = 0)

TypeError: read_csv() got an unexpected keyword argument 'index_csv'

In [15]:
movies = pd.read_csv(r'Book1.csv',index_col = 0)

In [16]:
movies

                      NAME   INDUSTRY       GENRE LANGUAGE  DURATION  RATING
ID
1                 Bahubali  Tollywood      Action   Telugu       170     9.5
2               Bharmastra  Bollywood  Mystereous    Hindi       180     5.0
3    Uri - Surgical strike  Bollywood      Action    Hindi       120    10.0
4                     DDLJ  Bollywood    Romantic    Hindi       150    10.0
5       Avengers - Endgame  Hollywood      Action  English       180     9.0
6                    Tenet  Hollywood       SciFi  English       150     8.5
7                    Major  Bollywood      Action    Hindi       140     8.0
8             Interstellar  Hollywood       SciFi  English       190     7.0
9                  Gravity  Hollywood       SciFi  English       130     6.0
10                 Titanic  Hollywood       Drama  English       180     9.0
11  Yeh Jawani Hai Deewani  Bollywood    Romantic    Hindi       150     5.0
12               Housefull  Bollywood      Comedy    Hindi       150     6.0
13            The dictator  Hollywood      Comedy  English       120     7.0
14              Hera Pheri  Bollywood      comedy    Hindi       140     9.0
15                  Sholay  Bollywood       Drama    Hindi       150     8.5

In [17]:
movies.describe()

         DURATION     RATING
count   15.000000  15.000000
mean   153.333333   7.833333
std     22.253946   1.718249
min    120.000000   5.000000
25%    140.000000   6.500000
50%    150.000000   8.500000
75%    175.000000   9.000000
max    190.000000  10.000000

In [18]:
movies.describe(include='all')

            NAME   INDUSTRY   GENRE LANGUAGE    DURATION     RATING
count         15         15      15       15   15.000000  15.000000
unique        15          3       7        3         NaN        NaN
top     Bahubali  Bollywood  Action    Hindi         NaN        NaN
freq           1          8       4        8         NaN        NaN
mean         NaN        NaN     NaN      NaN  153.333333   7.833333
std          NaN        NaN     NaN      NaN   22.253946   1.718249
min          NaN        NaN     NaN      NaN  120.000000   5.000000
25%          NaN        NaN     NaN      NaN  140.000000   6.500000
50%          NaN        NaN     NaN      NaN  150.000000   8.500000
75%          NaN        NaN     NaN      NaN  175.000000   9.000000
max          NaN        NaN     NaN      NaN  190.000000  10.000000

In [19]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 1 to 15
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NAME      15 non-null     object
 1   INDUSTRY  15 non-null     object
 2   GENRE     15 non-null     object
 3   LANGUAGE  15 non-null     object
 4   DURATION  15 non-null     int64
 5   RATING    15 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 840.0+ bytes

In [21]:
movies.groupby('INDUSTRY').describe().T

INDUSTRY         Bollywood   Hollywood  Tollywood
DURATION count    8.000000    6.000000        1.0
         mean   147.500000  158.333333      170.0
         std     16.690459   29.268869        NaN
         min    120.000000  120.000000      170.0
         25%    140.000000  135.000000      170.0
         50%    150.000000  165.000000      170.0
         75%    150.000000  180.000000      170.0
         max    180.000000  190.000000      170.0
RATING   count    8.000000    6.000000        1.0
         mean     7.687500    7.750000        9.5
         std      2.086307    1.254990        NaN
         min      5.000000    6.000000        9.5
         25%      5.750000    7.000000        9.5
         50%      8.250000    7.750000        9.5
         75%      9.250000    8.875000        9.5
         max     10.000000    9.000000        9.5

In [23]:
movies.groupby('INDUSTRY')['RATING'].mean()

INDUSTRY
Bollywood    7.6875
Hollywood    7.7500
Tollywood    9.5000
Name: RATING, dtype: float64

9.Find the rating of romantic movis indutries wise?

In [28]:
movies[movies['GENRE'].str.lower()=='ROMANTIC'].groupby('INDUSTRY')['RATING'].mean()

Series([], Name: RATING, dtype: float64)